body {
    font-size: 15pt;
    text-align: center;
    background:#00C3FF;
    font-family: sans-serif; 
    
}
.main-box{
        background: whitesmoke;
        width: 300px;
        height:350px;
        margin-top:50px;
        margin-left:50px;
}
.vel{
        border:2px solid #00C3FF;
        margin-top:50px;
        background: none;
        color:#111;
        padding:5px;
        outline: none;
}
.btn{
        margin:10px;
        background: none;
        border:2px solid #00FF7D;
        padding:5px;
        cursor:pointer;
}
.btn:hover{
            background: #00FF7D;

}
h3{
        color:#fff;
        text-transform:uppercase;
}